asgiref==3.7.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
cryptography==41.0.4
Django==4.2.6
django-bootstrap-icons==0.8.5
django-encrypted-model-fields==0.6.5
gitdb==4.0.10
GitPython==3.1.37
idna==3.4
Pillow==10.0.1
pyasn1==0.5.0
pycparser==2.21
requests==2.31.0
rsa==4.9
smmap==5.0.1
sqlparse==0.4.4
urllib3==2.0.6
