{% extends "base.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block content %}

<br>

{% if entryidbool %}

<div class="container">
    <div class="row justify-content-center" >
        <div class="col-md-7 shadow px-5 py-4">
            <div class="d-flex justify-content-between">
                <div class="display-6">
                    {% if language == "English" %}
                        Item Information
                    {% else %}
                        Información de Elemento
                    {% endif %}
                </div>
                {% if state %}
                    <a type="button" class="btn" href="mobilehomeentry?entryid={{selectedentry.id}}&search={{search}}">
                {% else %}
                    <a type="button" class="btn" href="/?entryid={{selectedentry.id}}&search={{search}}">
                {% endif %}
                    <span id="addon-wrapping">{% custom_icon 'arrow-left-circle' color="blue" size='3em' %}</span>
                    </a>
            </div>
            <small class="text-secondary">
                {% if language == "English" %}
                    Created:
                {% else %}
                    Creado:
                {% endif %}
                {{selectedentry.created}}
                
                {% if not selectedentry.updated == None %}
                    -- 
                    {% if language == "English" %}
                        Updated:
                    {% else %}
                        Actualizado:
                    {% endif %}
                    {{selectedentry.updated}}
                    {% endif %}
            </small>

            <form action="" method="post">
            {% csrf_token %}
            <br>
            
            <div class="text-secondary">
                {% if language == "English" %}
                    Name
                {% else %}
                    Nombre
                {% endif %}
            </div>        
            
            {% if language == "English" %}
                <input type="text" class="form-control" placeholder="Name" value="{{selectedentry.name}}" id="name" name="name" required>
            {% else %}
                <input type="text" class="form-control" placeholder="Nombre" value="{{selectedentry.name}}" id="name" name="name" required>
            {% endif %}
            {% if error_dic.name %}
            <p class="text-danger">
                {{error_dic.name}}
            </p>
            {% else %}
                <br>
            {% endif %}
            <div class="text-secondary">
                {% if language == "English" %}
                    Username
                {% else %}
                    Nombre de Usuario
                {% endif %}
            </div>
            
            {% if language == "English" %}
                <input type="text" class="form-control" placeholder="Username" value="{{selectedentry.username}}" id="username" name="username" required>
            {% else %}
                <input type="text" class="form-control" placeholder="Username" value="{{selectedentry.username}}" id="username" name="username" required>
            {% endif %}

            {% if error_dic.username %}
            <p class="text-danger">
                {{error_dic.username}}
            </p>
            {% else %}
                <br>
            {% endif %}

            <div class="row">
                <div class="col-4">
                    <small class="text-secondary">
                        {% if language == "English" %}
                            Password
                        {% else %}
                            Contraseña
                        {% endif %}
                    </small>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <span id="passwordcheckedspan">
                    </span>
                </div>

                <div class="col-5 d-flex justify-content-end">
                    <a class="btn link" data-bs-toggle="modal" data-bs-target="#advancemodal">
                        {% if language == "English" %}
                            Advance
                        {% else %}
                            Avanzado
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="input-group mb-3">
                {% if language == "English" %}
                    <input type="password" class="form-control" placeholder="Password" value="{{selectedentry.password}}" id="password" name="password" required>
                {% else %}
                    <input type="password" class="form-control" placeholder="Contraseña" value="{{selectedentry.password}}" id="password" name="password" required>
                {% endif %}

                <span class="input-group-text eyepassword" onclick="generatepassword()" id="spancheckpassword">
                        {% custom_icon 'arrow-repeat' size='1.5em' %}
                </span>

                <span class="input-group-text eyepassword" onclick="checkpassword()" id="spancheckpassword">
                        {% custom_icon 'check-circle' size='1.5em' %}
                </span>

                <span class="input-group-text eyepassword" onclick="showhidepassword('spaneye')" id="spaneye">
                        {% custom_icon 'eye' size='1.5em' %}
                </span>

                <span class="input-group-text eyepassword" onclick="showhidepassword('spaneyeslash')" id="spaneyeslash" hidden>
                        {% custom_icon 'eye-slash' size='1.5em' %}
                </span>

            </div>
            {% if error_dic.password %}
                <p class="text-danger">
                    {{error_dic.password}}
                </p>
            {% endif %}

            <div class="text-secondary">
                {% if language == "English" %}
                    Website
                {% else %}
                    Sitio Web
                {% endif %}
            </div>
            <input type="url" class="form-control" name="url" id="url" placeholder="URL" value="{{selectedentry.url}}">

            <input type="hidden" name="state" id="state" value="{{state}}">
            <input type="hidden" name="entry" id="entry" value="{{selectedentry.id}}">
            <input type="hidden" name="search" id="search" value="{{search}}">

            <div class='d-flex justify-content-center mt-3'>
                <button type="submit" class="btn btn-primary">
                    {% if language == "English" %}
                        Save
                    {% else %}
                        Guardar
                    {% endif %}
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="container-lg shadow px-5 py-4">
<br>
<br>

<div class="d-flex justify-content-center">
    <a type="button" class="btn" href="/?search={{search}}">
        <span id="addon-wrapping">{% custom_icon 'arrow-left-circle' color="blue" size='3em' %}</span>
    </a>
</div>

<br>
<div class="d-flex align-items-center justify-content-center">
    {% if language == "English" %}
        <h2 class="text-danger">
            <span>{% custom_icon 'database-exclamation' size='4em' %}</span>
            ID not found
        </h2>
    {% else %}
      <h2 class="text-danger">
        <span>{% custom_icon 'database-exclamation' size='4em' %}</span>
        El ID no se encuentra
      </h2>
    {% endif %}
</div>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h1 class="text-secondary">
        <span>{% custom_icon 'body-text' size='1.1em' %}</span>
          Vpass
    </h1>
</div>
</div>
{% endif %}


<div class="modal fade" id="advancemodal" tabindex="-1" aria-labelledby="advancemodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-primary" id="exampleModalLabel">
                    {% if language == "English" %}
                        Advanced password generation
                    {% else %}
                        Generación avanzada de contraseña
                    {% endif %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if language == "English" %}
                Length:
            {% else %}
                Tamaño:
            {% endif %}

            <div class="row">
                <div class="col-10 mt-2">
                    <input type="range" class="form-range" min="8" max="50" id="rangeinput">
                </div>
                <div class="col-2">
                    <input class="form-control" type="number" name="length" id="length" min='8' max='50'>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-10 mt-1">
                    <input type="text" class="form-control" name="passwordadvancedgen" id="passwordadvancedgen">
                </div>
                <div class="col-2">
                    <button class="btn" onclick="generatepasswordadvabced()" id="genadvanced">
                        <span>
                            {% custom_icon 'arrow-repeat' size='1.5em' %}
                        </span>
                    </button>
                </div>
            </div>
            <div id="advancedselectstatus">

            </div>

        </div>    

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% if language == "English" %}
                Close
            {% else %}
                Cerrar
            {% endif %}
        </button>
        <button type="button" class="btn btn-success" onclick="advancedselect()" id="select">
            {% if language == "English" %}
                Select
            {% else %}
                Seleccionar
            {% endif %}
        </button>
    </div>
</div>


{% if language == "English" %}

<script>
function checkpassword(){
    var passwordinput = document.getElementById('password');
    
    const url = "check_password_status?pass="+passwordinput.value;

    var passwordcheckedspan = document.getElementById('passwordcheckedspan');

    fetch(url)
    .then((response) => response.text())
    .then((text) => {
      if (text == "insecure"){
          passwordcheckedspan.innerHTML = "Insecure";
          passwordcheckedspan.className = "text-danger";
      }
      else{
        if (text == 'secure')
        passwordcheckedspan.innerHTML = "Secure";
        passwordcheckedspan.className = "text-success";
      }
      
    })

}

var passwordadvancedgen = document.getElementById('passwordadvancedgen');
var rangeinput = document.getElementById('rangeinput');
var length = document.getElementById('length');
var genadvanced = document.getElementById('genadvanced');
var password = document.getElementById('password');

function advancedselect(){
    if (passwordadvancedgen.value == ""){
        var advancedselectstatus = document.getElementById('advancedselectstatus');
        advancedselectstatus.innerHTML = "Can't select empty password";
        advancedselectstatus.className = "text-danger";
    }
    else {
        var advancedselectstatus = document.getElementById('advancedselectstatus');
        advancedselectstatus.innerHTML = "Password selected";
        advancedselectstatus.className = "text-success";

        var select = document.getElementById('select');
        select.disabled = true;
        rangeinput.disabled = true;
        length.disabled = true;
        passwordadvancedgen.disabled = true;
        genadvanced.disabled = true;
        password.value = passwordadvancedgen.value;
    }
}

</script>

{% else %}

<script>
function checkpassword(){
    var passwordinput = document.getElementById('password');
    
    const url = "check_password_status?pass="+passwordinput.value;

    var passwordcheckedspan = document.getElementById('passwordcheckedspan');

    fetch(url)
    .then((response) => response.text())
    .then((text) => {
      if (text == "insecure"){
          passwordcheckedspan.innerHTML = "Insegura";
          passwordcheckedspan.className = "text-danger";
      }
      else{
        if (text == 'secure')
        passwordcheckedspan.innerHTML = "Segura";
        passwordcheckedspan.className = "text-success";
      }
      
    })

}

var passwordadvancedgen = document.getElementById('passwordadvancedgen');
var rangeinput = document.getElementById('rangeinput');
var length = document.getElementById('length');
var genadvanced = document.getElementById('genadvanced');
var password = document.getElementById('password');

function advancedselect(){
    if (passwordadvancedgen.value == ""){
        var advancedselectstatus = document.getElementById('advancedselectstatus');
        advancedselectstatus.innerHTML = "La contraseña no puede ser vacía";
        advancedselectstatus.className = "text-danger";
    }
    else {
        var advancedselectstatus = document.getElementById('advancedselectstatus');
        advancedselectstatus.innerHTML = "Contraseña seleccionada";
        advancedselectstatus.className = "text-success";

        var select = document.getElementById('select');
        select.disabled = true;
        rangeinput.disabled = true;
        length.disabled = true;
        passwordadvancedgen.disabled = true;
        genadvanced.disabled = true;
        password.value = passwordadvancedgen.value;
    }
}
</script>

{% endif %}

<script>

var rangeinput = document.getElementById('rangeinput');
var length = document.getElementById('length');
var passwordadvancedgen = document.getElementById('passwordadvancedgen');

rangeinput.addEventListener("change", function() {
    length.value = rangeinput.value;
    const url = "/genpasword?pass="+length.value;
    fetch(url)
        .then((response) => response.text())
        .then((text) => {
            passwordadvancedgen.value = text;
        })

});

length.addEventListener("change", function() {
    rangeinput.value = length.value;
    const url = "/genpasword?pass="+rangeinput.value;
    fetch(url)
        .then((response) => response.text())
        .then((text) => {
            passwordadvancedgen.value = text;
        })
});

function generatepasswordadvabced(){
    if (length.value == ""){
        const url = "/genpasword?pass="+12;
        fetch(url)
        .then((response) => response.text())
        .then((text) => {
            passwordadvancedgen.value = text;
        })

        length.value = 12;
        rangeinput.value = 12;
    }

    else {
        const url = "/genpasword?pass="+length.value;
        fetch(url)
        .then((response) => response.text())
        .then((text) => {
            passwordadvancedgen.value = text;
        })
    }
}

function generatepassword(){
    var passwordinput = document.getElementById('password');
    const url = "/genpasword?pass=12";

    if (passwordinput.type == "password"){
        var spaneye = document.getElementById('spaneye');
        spaneye.hidden = true;

        var spaneye = document.getElementById('spaneyeslash');
        spaneye.hidden = false;

        passwordinput.type = 'text';


        fetch(url)
        .then((response) => response.text())
        .then((text) => {
            passwordinput.value = text;
        })
        
    }

    else {
        fetch(url)
        .then((response) => response.text())
        .then((text) => {
            passwordinput.value = text;
        })
    }
}

function showhidepassword(span){
    if (span == 'spaneye'){
        var spaneye = document.getElementById('spaneye');
        spaneye.hidden = true;

        var spaneye = document.getElementById('spaneyeslash');
        spaneye.hidden = false;

        var passwordinput = document.getElementById('password');
        passwordinput.type = "text";
    }

    else {
        var spaneye = document.getElementById('spaneye');
        spaneye.hidden = false;

        var spaneye = document.getElementById('spaneyeslash');
        spaneye.hidden = true;

        var passwordinput = document.getElementById('password');
        passwordinput.type = "password";
    }
}

</script>
{% endblock content %}