{% extends "base.html" %}

{% load static %}
{% load bootstrap_icons %}


{% block content %}

<br>
<br>


{% if empty %}
<br>
<br>
<br>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>
    {% if language == "English" %}
      There are no entries in the database, once entries are inserted they will appear in this page.
    {% else %}
      No hay entradas en la base de datos, una vez que las entradas sean insertadas aparecerán en esta página.
    {% endif %}
    </p>
  </blockquote>
  <figcaption>
    <p class="text-secondary">
      {% if language == "English" %}
        Start saving your passwords!!
      {% else %}
        Comienza a resguardar tus contraseñas!!
      {% endif %}
    </p>
  </figcaption>
  <a type="button" class="btn text-primary" href="addentry">
    <span id="addon-wrapping">{% custom_icon 'plus-circle' size='3em' %}</span>
  </a>
</figure>

{% else %}

{% if emptysearch %}
<div class="container-lg shadow px-5 py-4">
  <div class="d-flex justify-content-center">
    <form action="" method="POST">
    {% csrf_token %}

    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      {% if language == "English" %}
        <input type="text" id="search" name="search" placeholder="Search" class="form-control me-2" value="{{search}}" autofocus>
      {% else %}
        <input type="text" id="search" name="search" placeholder="Buscar" class="form-control me-2" value="{{search}}" autofocus>
      {% endif %}
      <button class="btn mb-1 buttons" type="submit">
        <span id="addon-wrapping">{% custom_icon 'search' size='1.5em' %}</span>
      </button>
      
      <a type="button" class="btn ms-1 mb-1 buttons" href="addentry">
        <span id="addon-wrapping">{% custom_icon 'plus-circle' size='1.5em' %}</span>
      </a>
    </div>
  </form>
  </div>
  <br>
  <br>
  <div class="d-flex align-items-center justify-content-center">
    {% if language == "English" %}
      <h2 class="text-danger">
        <span>{% custom_icon 'database-exclamation' size='4em' %}</span>
        No results found
      </h2>
    {% else %}
      <h2 class="text-danger">
        <span>{% custom_icon 'database-exclamation' size='4em' %}</span>
        No se encontraron resultados
      </h2>
    {% endif %}
  </div>
  <br>
  <div class="d-flex align-items-center justify-content-center">
    <h1 class="text-secondary">
        <span>{% custom_icon 'body-text' size='1.1em' %}</span>
          Vpass
    </h1>
  </div>
</div>

{% else %}
<div class="container-lg shadow px-5 py-4 d-none d-md-block">

  <div class="d-flex justify-content-center">
  <form action="" method="POST">
    {% csrf_token %}

    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      {% if language == "English" %}
        <input type="text" id="search" name="search" placeholder="Search" class="form-control me-2" value="{{search}}" autofocus>
      {% else %}
        <input type="text" id="search" name="search" placeholder="Buscar" class="form-control me-2" value="{{search}}" autofocus>
      {% endif %}
      <button class="btn mb-1 buttons" type="submit">
        <span id="addon-wrapping">{% custom_icon 'search' size='1.5em' %}</span>
      </button>
      
      <a type="button" class="btn ms-1 mb-1 buttons" href="addentry">
        <span id="addon-wrapping">{% custom_icon 'plus-circle' size='1.5em' %}</span>
      </a>
    </div>
  </form>
  </div>

<div class="row">
  <div class="col-3">
    {% if selectedentry %}
    <div class="list-group list-group-styled">
    {% else %}
    <div class="list-group list-group-styled-notentry">
    {% endif %}

    {% for entry in entries %}
      {% if selectedentry.id == entry.id %}
        <a type="button" class="list-group-item list-group-item-action active" aria-current="true" id="entry{{entry.id}}">
          {{entry.name}}
        </a>
      {% else %}
        <a id="entry{{entry.id}}" type="button" class="list-group-item list-group-item-action" href="?entryid={{entry.id}}&search={{search}}#entry{{entry.id}}">{{entry.name}}</a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% if selectedentry %}
  <!--<div class="col-9 d-flex align-items-center" id="right-column">-->
  <div class="col-9" id="right-column">
    <div class="d-flex justify-content-between">
      <div class="display-6">
        {% if language == "English" %}
          Item Information
        {% else %}
          Información de Elemento
        {% endif %}
      </div>
      <div class="row pt-4">
        <div class="col-6">
          <a class="btn" href="editentry?state=home&entry={{selectedentry.id}}&search={{search}}">
            <span id="addon-wrapping">{% custom_icon 'pencil-square' color="blue" size='2em' %}</span>
          </a>
        </div>
        <div class="col-6">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deletemodal">
            <span id="addon-wrapping">{% custom_icon 'x-octagon' color="red" size='2em' %}</span>
          </button>
        </div>
      </div>
    </div>

    <small class="text-secondary">
      {% if language == "English" %}
        Created:
      {% else %}
        Creado:
      {% endif %}

      {{selectedentry.created}}
      {% if not selectedentry.updated == None %}
        -- 
        {% if language == "English" %}
          Updated:
        {% else %}
          Actualizado:
        {% endif %}
        {{selectedentry.updated}}
      {% endif %}
    </small>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <small class="text-secondary">
              {% if language == "English" %}
                Name
              {% else %}
                Nombre
              {% endif %}
            </small>
            <br>
            <div class="pt-2">
              {{selectedentry.name}}
            </div>
          </div>
          <div>
            <small class="text-secondary">
                OTP
            </small>
            <br>
            <div class="pt-2">
              <div class="mytooltip">
              <span class="otp{{selectedentry.id}}">
                {% if selectedentry.otp == None %}
                  <a href="">Agregar otp</a>
                {% else %}
                  <span id="otpsecret">
                    {{selectedentry.otp}}
                  </span>
                {% endif %}
              </span>
              {% if not selectedentry.otp == None %}
              <button class="btn buttons" onclick="copytootltipf('otp{{selectedentry.id}}','myTooltotp{{selectedentry.id}}')" onmouseout="outFunc('myTooltotp{{selectedentry.id}}')">
                <span class="tooltiptext" id="myTooltotp{{selectedentry.id}}">
                  {% if language == "English" %}
                    Copy
                  {% else %}
                    Copiar
                  {% endif %}
                </span>
                <span id="addon-wrapping">{% custom_icon 'clipboard' size='1.2em' %}</span>
              </button>
              <input hidden type="text" name="otp{{selectedentry.id}}" id="otp{{selectedentry.id}}" value="{{selectedentry.otp}}">
              {% endif %}
              </div>
            </div>

          </div>

        </div>
      </li>
      
      <li class="list-group-item">
        <small class="text-secondary">
          {% if language == "English" %}
            Username
          {% else %}
            Nombre de Usuario
          {% endif %}
        </small>
        <br>
        <div class="d-flex justify-content-between">
          <div class="pt-2">
            {{selectedentry.username}}
          </div>

          <div>
            <div class="mytooltip">
              <button class="btn buttons" onclick="copytootltipf('usernameinput{{selectedentry.id}}','myTooltipusername{{selectedentry.id}}')" onmouseout="outFunc('myTooltipusername{{selectedentry.id}}')">
                <span class="tooltiptext" id="myTooltipusername{{selectedentry.id}}">
                  {% if language == "English" %}
                    Copy
                  {% else %}
                    Copiar
                  {% endif %}
                </span>
                <span id="addon-wrapping">{% custom_icon 'clipboard' size='1.2em' %}</span>
              </button>
              <input hidden type="text" name="usernameinput{{selectedentry.id}}" id="usernameinput{{selectedentry.id}}" value="{{selectedentry.username}}">
            </div>
          </div>

        </div>
      </li>
      <li class="list-group-item">
        <small class="text-secondary">
          {% if language == "English" %}
            Password
          {% else %}
            Contraseña
          {% endif %}
        </small>
        <br>
        <div class="d-flex justify-content-between">
          <div class="pt-2" id="passworddiv">
            **********
          </div>

          <div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <div class="pt-2 text-success" id="checkpassworddiv">
                
              </div>
              <div class="mytooltip">
                {% if language == "English" %}
                  <button href="check" class="btn buttons" onclick="check_password_status('{{selectedentry.password}}')" onmouseout="tooltipfunc('myTooltipCheck', 'Check')">
                {% else %}
                  <button href="check" class="btn buttons" onclick="check_password_status('{{selectedentry.password}}')" onmouseout="tooltipfunc('myTooltipCheck', 'Verificar')">
                {% endif %}
                  <span class="tooltiptext" id="myTooltipCheck">

                  </span>
                  <span id="addon-wrapping">{% custom_icon 'check-circle' size='1.3em' %}</span>
                </button>
              </div>

              <div class="mytooltip">
              {% if language == "English" %}
                <button class="btn buttons" onclick="showpassword()" onmouseout="tooltipfunc('myTooltiplook', 'Show')">
              {% else %}
                 <button class="btn buttons" onclick="showpassword()" onmouseout="tooltipfunc('myTooltiplook', 'Ver')">
              {% endif %}
                <span class="tooltiptext" id="myTooltiplook">
                  
                </span>
                <span id="addon-wrapping">{% custom_icon 'eye' size='1.3em' %}</span>
              </button>
              </div>

              <div class="mytooltip">
                <button class="btn buttons" onclick="copytootltipf('password{{selectedentry.id}}','myTooltippassword{{selectedentry.id}}')" onmouseout="outFunc('myTooltippassword{{selectedentry.id}}')">
                  <span class="tooltiptext" id="myTooltippassword{{selectedentry.id}}">
                    {% if language == "English" %}
                      Copy
                    {% else %}
                      Copiar
                    {% endif %}
                  </span>
                  <span id="addon-wrapping">{% custom_icon 'clipboard' size='1.2em' %}</span>
                </button>
              <input hidden type="text" name="password{{selectedentry.id}}" id="password{{selectedentry.id}}" value="{{selectedentry.password}}">
            </div>

            </div>

            
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <small class="text-secondary">
          {% if language == "English" %}
            Website
          {% else %}
            Sitio Web
          {% endif %}
        </small>

        <br>

        <div class="d-flex justify-content-between">
          <div class="pt-2">
            {{selectedentry.url}}
          </div>
          <div>
            <div class="mytooltip">
            {% if language == "English" %}
              <a class="btn buttons" href="{{selectedentry.url}}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" onmouseout="tooltipfunc('myTooltipurllink', 'Go')">
            {% else %}
              <a class="btn buttons" href="{{selectedentry.url}}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" onmouseout="tooltipfunc('myTooltipurllink', 'Ir')">
            {% endif %}
              <span class="tooltiptext" id="myTooltipurllink">
                  
              </span>
              <span id="addon-wrapping">{% custom_icon 'link-45deg' size='1.3em' %}</span>
            </a>
          </div>
            <div class="mytooltip">
              <button class="btn buttons" onclick="copytootltipf('url{{selectedentry.id}}','myTooltipurl{{selectedentry.id}}')" onmouseout="outFunc('myTooltipurl{{selectedentry.id}}')">
                <span class="tooltiptext" id="myTooltipurl{{selectedentry.id}}">
                  {% if language == "English" %}
                    Copy
                  {% else %}
                    Copiar
                  {% endif %}
                </span>
                <span id="addon-wrapping">{% custom_icon 'clipboard' size='1.2em' %}</span>
              </button>
              <input hidden type="text" name="url{{selectedentry.id}}" id="url{{selectedentry.id}}" value="{{selectedentry.url}}">
            </div>

          </div>
        </div>

      </li>
    </ul>
  </div>
  {% else %}
  <div class="col-9 d-flex align-items-center justify-content-center" id="right-column">
    <h1 class="text-secondary">
        <span>{% custom_icon 'body-text' size='1.1em' %}</span>
        Vpass
    </h1>
  </div>
  {% endif %}
</div>
</div>

<div class="container-md shadow px-5 py-4 d-md-none">

  <div class="d-flex justify-content-center">
    <form action="" method="POST">
    {% csrf_token %}

    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      {% if language == "English" %}
        <input type="text" id="search" name="search" placeholder="Search" class="form-control me-2" value="{{search}}" autofocus>
      {% else %}
        <input type="text" id="search" name="search" placeholder="Buscar" class="form-control me-2" value="{{search}}" autofocus>
      {% endif %}
      <button class="btn mb-1 buttons" type="submit">
        <span id="addon-wrapping">{% custom_icon 'search' size='1.5em' %}</span>
      </button>
      
      <a type="button" class="btn ms-1 mb-1 buttons" href="addentry">
        <span id="addon-wrapping">{% custom_icon 'plus-circle' size='1.5em' %}</span>
      </a>
    </div>
  </form>
  </div>

  <div class="list-group">
    {% for entry in entries %}
      {% if entry.id == selectedentry.id %}
        <a type="button" class="list-group-item list-group-item-action active" aria-current="true" id="entry{{entry.id}}" href="mobilehomeentry?entryid={{entry.id}}&search={{search}}">
          {{entry.name}}
        </a>
      {% else %}
        <a type="button" class="list-group-item list-group-item-action" aria-current="true" id="entry{{entry.id}}" href="mobilehomeentry?entryid={{entry.id}}&search={{search}}">
          {{entry.name}}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endif %}
{% endif %}

{% if language == "English" %}
<script>

function check_password_status(password){
  const url = "/check_password_status?pass="+password;

  fetch(url)
  
    .then((response) => response.text())

    .then((text) => {
      var checkpassworddiv = document.getElementById("checkpassworddiv");
      if (text == "insecure"){
        checkpassworddiv.className += " text-danger";
        checkpassworddiv.innerHTML = "Insecure";
      }
      else{
        if (text == "comprmised"){
          checkpassworddiv.className += " text-danger";
          checkpassworddiv.innerHTML = "Comprmised";
        }
        else{
          check_password_status.className += " text-success";
          checkpassworddiv.innerHTML = "Secure";
        }
      }
      
    })
    
    .catch((error) => {

      console.error(error);
    });
}

function copytootltipf(idtext, idtooltip) {
  var copyText = document.getElementById(idtext);
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value);
  
  var tooltip = document.getElementById(idtooltip);
  tooltip.innerHTML = "Copied!!";
}

function outFunc(idtooltip) {
  var tooltip = document.getElementById(idtooltip);
  tooltip.innerHTML = "Copy";
}
</script>
{% else %}
<script>

function check_password_status(password){
  const url = "/check_password_status?pass="+password;

  fetch(url)
  
    .then((response) => response.text())

    .then((text) => {
      var checkpassworddiv = document.getElementById("checkpassworddiv");
      if (text == "insecure"){
        checkpassworddiv.className += " text-danger";
        checkpassworddiv.innerHTML = "Insegura";
      }
      else{
        if (text == "comprmised"){
          checkpassworddiv.className += " text-danger";
          checkpassworddiv.innerHTML = "Comprometida";
        }
        else{
          check_password_status.className += " text-success";
          checkpassworddiv.innerHTML = "Segura";
        }
      }
      
    })
    
    .catch((error) => {

      console.error(error);
    });
}

function copytootltipf(idtext, idtooltip) {
  var copyText = document.getElementById(idtext);
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value);
  
  var tooltip = document.getElementById(idtooltip);
  tooltip.innerHTML = "Copiado!!";
}

function outFunc(idtooltip) {
  var tooltip = document.getElementById(idtooltip);
  tooltip.innerHTML = "Copiar";
}
</script>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="deletemodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">
                    {% if language == "English" %}
                        Delete Entry
                    {% else %}
                        Eliminar Entrada
                    {% endif %}
                </h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if language == "English" %}
                I undertand I'm deleting the entry:
                <span class="text-danger">{{selectedentry.name}}</span>
                , and there is no way of getting it back
            {% else %}
                Entiendo que estoy eliminando la entrada: 
                <span class="text-danger">{{selectedentry.name}}</span>
                , y no hay forma de recuperarla
            {% endif %}
        </div>    

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% if language == "English" %}
                Close
            {% else %}
                Cerrar
            {% endif %}
        </button>
        <a type="button" class="btn btn-danger" href="?theme={{theme}}&delete={{selectedentry.id}}">
            {% if language == "English" %}
                Delete
            {% else %}
                Eliminar
            {% endif %}
        </a>
    </div>
</div>


<script>
function tooltipfunc(idtooltip, text) {
  var tooltip = document.getElementById(idtooltip);
  tooltip.innerHTML = text;
}


var textDiv = document.getElementById("passworddiv");
textDiv.innerHTML = "**********";

function showpassword(){
  var textDiv = document.getElementById("passworddiv");
  var currentText = textDiv.innerHTML;

  if (currentText == "**********") {
    textDiv.innerHTML = "{{selectedentry.password}}";
  } else {
    textDiv.innerHTML = "**********";
  }
}

// Get the right column element by its id
var rightColumn = document.getElementById("right-column");
// Get the height of the right column in pixels
var rightColumnHeight = rightColumn.offsetHeight;
// Get the list-group element by its class name
var listGroup = document.getElementsByClassName("list-group")[0];
// Set the max-height of the list-group to match the right column height
listGroup.style.maxHeight = rightColumnHeight + "px";


var otpsecret = document.getElementById('otpsecret');
var secretkey = otpsecret.innerHTML;

function otptimer(){
  const url = "/otpsecretget?secret="+secretkey;
    fetch(url)
    .then((response) => response.text())
    .then((text) => {  
      otpsecret.innerHTML = text;
      })
}

otptimer();

const interval = setInterval(function() {
  const url = "/otpsecretget?secret="+secretkey;
  fetch(url)
  .then((response) => response.text())
  .then((text) => {
    otpsecret.innerHTML = text;
  })
 }, 10000);

</script>

{% endblock content %}